extends flayout

block content
  div(class='jumbotron thanks' id='top')
    h1
      span(class='thin') PODO
      span(class='bold') LAU
  div(class='container')
    div(class='col-md-6')
      h1 THANKS HOMIES!
      h2 Your RSVP is below:
      p Name: #{req.body.name0}
      p Attendance: #{req.body.attend_choice0}
      p Meal: #{req.body.food_choice0}
      p Allergies: #{req.body.allergies0}
      p Cake: #{req.body.cake_preference0}
      br
      if req.body.name1
        p Name: #{req.body.name1}
        p Attendance: #{req.body.attend_choice1}
        p Meal: #{req.body.food_choice1}
        p Allergies: #{req.body.allergies1}
        p Cake: #{req.body.cake_preference1}