extends layout

block content
  div(class='jumbotron' id='top')
    h1
      span(class='thin') PODO
      span(class='bold') LAU
  div(class='container')
    div(class='col-md-6')
      h1 THANKS HOMIES!
      h2 Your Response:
      p=req.body.name1
      p=req.body.food_choice1
      p=req.body.foodchoice1
      p=req.body.allergies1
      p=req.body.cake_preference1
      br
      p=req.body.name2
      p=req.body.food_choice2
      p=req.body.foodchoice2
      p=req.body.allergies2
      p=req.body.cake_preference2