extends flayout

block content
  div(class='jumbotron thanks' id='top')
  div(class='container')
    div(class='col-md-12')
      h1 Thank You! Your RSVP is below.
      p
        a(href='/een') Back to main wedding page
      p
        a(href='/een#and_the_place') Get ceremony location and hotel information
      p <strong>Name:</strong> #{req.body.name0}
      p <strong>Attendance:</strong> #{req.body.attend_choice0}
      p <strong>Meal:</strong> #{req.body.food_choice0}
      p <strong>Allergies:</strong> #{req.body.allergies0}
      p <strong>Cake:</strong> #{req.body.cake_preference0}
      br
      if req.body.name1
        p <strong>Name:</strong> #{req.body.name1}
        p <strong>Attendance:</strong> #{req.body.attend_choice1}
        p <strong>Meal:</strong> #{req.body.food_choice1}
        p <strong>Allergies:</strong> #{req.body.allergies1}
        p <strong>Cake:</strong> #{req.body.cake_preference1}
